

.contract {
    width: 8%;
    height: 8%;
}


.archivo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.archivoInput{
    margin: 28px;
    width: 75%;
    box-shadow: 3px 3px 1px #ccc;
    -webkit-box-shadow: 3px 3px 1px #ccc;
    -moz-box-shadow: 3px 3px 1px #ccc;
}


.customBtn{
    margin-left: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(76,76,76,0.2); 
    box-shadow: 5px 5px 15px 5px rgba(76,76,76,0.2);
}


.boxdark{
    background-color: #c0bebe;
    border-radius: 10px;
    width: 100%!important;
    display: flexbox;
    align-self: center;
    padding-bottom: 45px;
}

.boxlight{
    background-color: #343a41;
    border-radius: 10px;
    
    width: 100%!important;
    display: flexbox;
    align-self: center;
    padding-bottom: 45px;
}

img{
    display: flexbox;
    align-self: center;

}