
.box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tabledark{
    width: 80%;
    border-radius: 12px;
    border: black 0.5px;
    background-color: lightgrey;
}

.tablelight{
    width: 80%;
    border-radius: 12px;
    border: 0.75px rgb(64, 103, 136);
    background-color: #3f4750;
}


.dark{
    color: black;
}

.light{
    color: lightgray;
}

th{
    padding-top: 8px;
    padding-bottom: 8px;
}

tr td{
    border-top: 0.5px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}