.alert-primary{
    margin-top: 30px;
    width: fit-content;
    height: 40%;
    font-size: 24px;
    text-align: justify;
    padding-left: 3%;
    padding-right: 3%;
}

.box{
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.info{
    width: 58px;
    height: 36px;
    margin: 0px;
    margin-left: 2%;
    padding: 5px;
}

.alert-heading{
    margin: 10px;
}

h4{
    font-size: 28px;
}

small{
    font-size: 20px;
}