.btn-theme-light {
    color: black;
    background-color: blanchedalmond;
    border-color: black;
    margin-left: 10px;
}


.btn-theme-dark {
    color: whitesmoke!important;
    background-color: #212529;
    border-color: blanchedalmond;
    margin-left: 10px;
}

.ico{
    width: 90px;
    height: 40px;
    cursor: pointer;
    margin: 8px;
}