
.box{
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
}

.carddark{
    display: flex;
    margin-top: 20px;
    width: 60%;
    border: 0.75px gray;
    background-color: lightgrey;
    color: black;
    border-radius: 12px;
}

.cardlight{
    color: lightgray;
    display: flex;
    margin-top: 20px;
    width: 60%;
    border: 0.75px rgb(64, 103, 136);
    background-color: #3f4750;
    border-radius: 12px;
}

h4{
    font-size: 30px;
    color: rgb(20, 168, 20);
}
.cup{
    font-size: 25px;
}


.mini{
    font-size: 18px;
}